<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Digital Library</title>
    <link href="static/Users/loginn.css" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Play" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- <title>Digital Library</title> -->

    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
      integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
      crossorigin="anonymous"
    />
</head>

<body>

{% load crispy_forms_tags %}


       <nav class="navbar navbar-expand-md navbar-light sticky-top" style="background-color: white">
      <div class="container-fluid panel topnav" style="justify-content: left;">
        <!-- <a class="navbar-brand"><img src="../../static/images/logo.jpg" alt="logopic"></a> -->
        <i class="fas fa-book-reader" style="font-size:60px; color: gray; margin: 20px 45px 0px 58px;"></i><br>
        <h3 style="font-family: cursive; font-weight: bold; margin-top: 27px; font-size: 43px;" > Digital Library</h3>
        <button class="navbar-toggler" type="button" data-togglr="collapse"
        data-target="#navbarResponsive">
          <span class="navbar-toggler-icon"></span>

        </button>

        </div>
    </nav>


 <div class="hello">
            <h6 class="hellos" style="font-weight:bold;">LOG IN</h6>
     <br>
     <p class="hillo">“I guess there are never enough books.” </p><p class="hillos">– John Steinbeck</p>
        </div>



<div class="containr col-4-lg" style="width: 500px">
{% load crispy_forms_tags %}


    <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="legendd border-bottom mb-4">Welcome!</legend>

    {{ form|crispy }}
    </fieldset>
    <div class="form-group">
        <button class="btn btn-outline-info" type="submit">Login</button>
    </div>
    </form>
    <div class="border-top pt-3">
        <small class="text-muted">
            Need An Account? <a class="ml-2" href="{% url 'register' %}">Sign Up Now</a>
        </small>
    </div>
</div>
</div>
</body>
</html>
