<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="../static/Users/loginn.css" rel="stylesheet" type="text/css"/>
    <title>Digital Library</title>
    
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
      integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
      crossorigin="anonymous"
    />

  </head>
  <body>
   <div class="col-4-lg">
{% load crispy_forms_tags %}
       <nav class="navbar navbar-expand-md navbar-light sticky-top" style="background-color: white">
      <div class="container-fluid panel topnav">
        <!-- <a class="navbar-brand"><img src="../../static/images/logo.jpg" alt="logopic"></a> -->
        <i class="fas fa-book-reader" style="font-size:60px; color: gray; margin: 20px 50px 0px 58px;"></i><br>
        <h3 style="font-family: cursive; font-weight: bold; margin-top: 27px; font-size: 43px;" > Digital Library</h3>
         
        <button class="navbar-toggler" type="button" data-togglr="collapse"
        data-target="#navbarResponsive">
          <span class="navbar-toggler-icon"></span>

        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">

              <div id="hoverdiv"></div>
        </div>
      </div>
    </nav>

 <div class="hello" style="margin-top:220px;">
            <h6 class="hellos" style="font-weight:bold;">SIGN UP</h6>
     <br>
     <p class="hillo">“I guess there are never enough books.” </p><p class="hillos">– John Steinbeck</p>

       </div>



    <div class="container col-4-lg" style="width: 500px">



        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                {{ form|crispy }}     
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Sign Up</button>
            </div>
        </form>
        <div class="border-top pt-3">
            <small class="text-muted">
                Already Have An Account? <a class="ml-2" href="{% url 'login' %}">Sign In</a>
            </small>
        </div>
    </div>
   </div>
  </body>
</html>