<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link id="b1" rel="stylesheet" type="text/css" href="../../static/Users/style6.css">

    <title>Digital Library</title>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
      integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <nav id= "b2" class="navbar navbar-expand-md navbar-light sticky-top " style="background-color:white">
      <div class="container-fluid panel">
        <!-- <a class="navbar-brand"><img src="../static/images/logo.jpg" alt="logopic"></a> -->
        <i class="fas fa-book-reader" style="font-size:60px; color: gray; margin: 3px 25px 0px 0px;"></i><br>
        <h3 style="font-family: cursive; font-weight: bold; margin-top: 8px; font-size: 20px; margin-left: -10px; margin-right: 15px;" > Digital Library</h3>
        <button class="navbar-toggler" type="button" data-togglr="collapse"
        data-target="#navbarResponsive">
          <span class="navbar-toggler-icon"></span>
          
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
<ul class="navbar-nav ml-auto">
			
            <li>

              <a href="{% url 'login' %}"><font color=black>Login  </font></a>
            </li>
			<li>
&nbsp&nbsp&nbsp&nbsp
              <a href="{% url 'register' %}"><font color=black>SignUp </font></a>
            </li>


</nav>
            
<script
  src="https://code.jquery.com/jquery-3.4.0.js"
  integrity="sha256-DYZMCC8HTC+QDr5QNaIcfR7VSPtcISykd+6eSmBW5qo="
  crossorigin="anonymous"></script>

<div class="bro2"><p><font size="8px" color="black">Looks like you haven't logged in...</font></p></div>
<div class="bro"><font size="3px" color="#808080">Please Login to continue to the site.</font></div>



<footer class="foot" style="background-color:gray">
  <a name="footer"><font color="black">
      <p class="text-center">
          <br>
          Call us at : 9806038705 / 9813850509<br>
          Email us at : sabitasitaula705@gmail.com  / kulchan.pema@gmail.com<br>
          <!-- Address (9am to 9pm) : New Baneswor Kathmandu Nepal</p> -->
      <p class="text-right" style="background-color: gray; padding:15px 500px;">&copy Copyright. All rights reserved.&nbsp&nbsp&nbsp</p></font>
  </a>
</footer>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script type="text/javascript" src="js/jquery.js"></script>
	<script type="text/javascript" src="js/join1.js"></script>
    <script type="text/javascript" src="js/hovertext.js"></script>
    <script type="text/javascript" src="js/snackbar.js"></script>
  </body>
</html>